* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    /* background-color: black; */
    /* color: white; */
}


.top1 {
    padding: 2%;
}

.top1 a {
    text-decoration: none;
    color: black;
}

.top1 a:hover {
    color: rgb(177, 57, 57);
}

nav {
    width: 30%;
    float: right;

}

.top1 ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.top2 {
    width: 100%;
    padding: 6% 25%;
    display: flex;
    column-gap: 50px;
}

.intro {
    width: 50%;
    text-align: justify;
}

h1 {
    text-align: left;
}

#resume_button {
    padding: 4%;
    background-color: rgb(170, 206, 206);
    border: 0px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

#resume_button:hover {
    background-color:rgb(177, 57, 57);
    color: azure;
}

.photo {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90%;
}

.photo img {
    display: inline-block;
    float: right;
    width: 60%;
    height: 100%;
}

.projects {
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects_container {
    width: 850px;
}

.projects_container ul {
    list-style: none;
}

.projects_container li {
    background-color: rgb(170, 206, 206);
    border-radius: 30px;
    width: 100%;
}

.projects_container li:hover {
    background-color: rgb(177, 57, 57);
}


h2 {
    text-align: center;
}

.container {
    margin: 10%;
    display: flex;
    column-gap: 50px;
}

.drawable {
    width: 20%;
}

.drawable img {
    width: 100%;
    height: 100%;
}

.project_desc {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.projects a {
    text-decoration: none;
    color: black;
}

.projects a:hover {
    color: aliceblue;
}


footer{
    background-color: grey;
    padding: 1%;
    text-align: center;
    color: white;
    font-size: 15px;
}

footer a{
    color: white;
    text-decoration: none;
}
.acc:hover{
    color: yellow;
}